{% extends "base.html" %}



<style>
    .card {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
    }
    
    .card:hover {
        transform: scale(1.05);
    }
    
    .btn-primary {
        background-color: #6c63ff;
        border-color: #6c63ff;
    }
    
    .btn-primary:hover {
        background-color: #5248cc;
        border-color: #5248cc;
    }
    
    .img-thumbnail {
        border-radius: 50%;
    }
    </style>

{% block body %}




<div class="container my-5">
    <div class="row">
        <div class="col-12 text-center mb-5">
            <h2 class="display-4">Our Products</h2>
        </div>
    </div>
    <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text"><strong>${{ product.price }}</strong></p>
                    <button class="btn btn-primary btn-block add-to-cart" data-id="{{ product.id }}">Add to Cart</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.add-to-cart').forEach(button => {
            button.addEventListener('click', function() {
                const productId = this.getAttribute('data-id');
                fetch(`/add_to_cart/${productId}/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/json'
                    }
                }).then(response => {
                    if (response.ok) {
                        alert('Product added to cart');
                    } else {
                        alert('Failed to add product to cart');
                    }
                });
            });
        });
    });
</script>
{% endblock %}
